
body {
	background-color: grey;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

header {
	padding: 15px;
	width: 100%;
	background-color: blue;
	color: white;
	text-align: center;
	font-weight: bolder;
	float: left;
}

main {
	margin: 1em;
	padding: 1em;
	font-size: 2em;
}

footer {
	background-color: #2222FF;
	color: white;
	padding: 15px;
	text-align: left;
	position: active;
	bottom: 0;
	width: 100%;
	float: left;
	min-width: 100%;
}

footer a {
	color: white;
}

h1 {
	font-size: 4em;
}

address {
		font-size: 1.5em;
}

.leftfooter {
	display: inline-block;
}

.phone {
	font-size: 1.25em;
	text-decoration: none;
	display: inline-block;
	margin-left: 20px;
	float: right;
	margin-right: 20px;
	}

nav {
	position: active;
	top: 0;
	}

nav ul {
	width: 102.1%;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
	margin: 0;
	padding: 0;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
	font-size: 2em;
	float: left;
}

nav a:hover {
  background-color: #111;
}

.welcomeshow {
	border-style: none;
	length:40%;
}

.active {
  background-color: blue;
}
