.header {
	background-color: blue;
	text-align: center;
	font-size: 48px;
	font-weight: bolder;
	padding: 40px;
	border-bottom: solid grey 1px;
}

h1 {
	color: blue;
}

body {
  font-size: 28px;
	background-color: grey;
}

address {
		text-align: left;
		font-size: 14px;
}

.map {
	width: 450px;
	height: 300px;
	border: solid grey 5px;
	padding: 10px;
}
.phone {
	text-decoration: none;
	text-align: right;
	}

.stickybar{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.stickybar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
	margin: 0;
	padding: 0;
}

.stickybar li {
  float: left;

}

.stickybar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.stickybar li a:hover {
  background-color: #111;
}

.active {
  background-color: blue;
}

.footer {
	background-color: grey;
	text-align: left;
	font-size: 12px;
	bottom: 0;
	width: 100%;
}
